<div class="dashboard-container">

    <h1>Welcome, {{ userName }} 👋</h1>

    <p class="subtitle">
        Manage your SmartShop experience from here.
    </p>

    <div class="card-container">

        <div class="card" routerLink="/products">
            <h2>Products</h2>
            <p>Browse all available products.</p>
        </div>

        <div class="card" routerLink="/profile">
            <h2>Profile</h2>
            <p>View your account information.</p>
        </div>

    </div>

</div>